body
{   
    color: deeppink;
    text-align: center;
    font-family: Arial;
    background-color: rgb(44, 44, 44);
}
#bienvenida{
    font-family: Georgia;
    color: burlywood;
    font-size: medium;
}